html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root,
#root div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  gap: 1rem;
}
